{% extends 'base.html.twig' %}

{% block title %}
	Atif Jamal Ansari | Privacy Policy
{% endblock %}

{% block body %}

	<section id="privacy" class="s-privacy">

		<div class="row section-header has-bottom-sep" data-aos="fade-up">
			<div class="col-full">
				<h3 class="subhead">Privacy Policy</h3>
				<h1 class="display-2">There're few terms and conditions you must agree to use the service</h1>
			</div>
		</div>
		<!-- end section-header -->

		<div class="row privacy-policy" data-aos="fade-up">
			<div class="col-full">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint veritatis modi eaque voluptas harum cupiditate! Natus porro error odit ratione distinctio, ducimus itaque quos rerum laudantium. Ullam unde voluptatum fugiat.
				</p>

			</div>
			<!-- end col-full -->
		</div>
		<!-- end terms-conditions -->

	</section>

	<!-- footer
	    ================================================== -->
	{% include 'includes/footer.html.twig' %}
	<!-- end footer -->
{% endblock %}
