{% extends 'base.html.twig' %}

{% block title %}
	Atif Jamal Ansari | Sitemap
{% endblock %}

{% block body %}

	<section id="sitemap" class="s-sitemap">

		<div class="row section-header has-bottom-sep" data-aos="fade-up">
			<div class="col-full">
				<h3 class="subhead">Sitemap</h3>
				<h1 class="display-2">There're few sitemap and conditions you must agree to use the service</h1>
			</div>
		</div>
		<!-- end section-header -->

		<div class="row sitemap" data-aos="fade-up">
			<div class="col-full">
				<p></p>

			</div>
			<!-- end col-full -->
		</div>
		<!-- end terms-conditions -->

	</section>

	<!-- footer
	    ================================================== -->
	{% include 'includes/footer.html.twig' %}
	<!-- end footer -->
{% endblock %}
